body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  margin: : 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  padding: 0;
  
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}


.contact {
  display: flex;
  align-items: center;
  background-image: url('https://64.media.tumblr.com/f9210e385b3e7d676e2070a5bf39122f/f53187687a593154-85/s1280x1920/09e4109b43ce881479479b17e3306c58a75dc5a5.jpg'); 
  background-size: flex;
  color: #ffffff;
  height: 550px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.contact h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #000000;
}

.contact h3 {
  margin: 0px;
  color: #fff;
}
.contact p {
color: #fffffff;
background: #000000;
opacity: 0.75;
margin: 0px;

}

section .row img {
  margin: 0 0 30px;
  width: relative;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 30px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #000000;
  
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #17a2b8;
  
}
.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}