body {
	font-family: Roboto;
	font-size: 30px;
	font-color: #ffffff;
	background-color: #000000;
}

header {
	font-family: Roboto;
	font-size: 40px;
	font-color: #ffffff;
	font-background: #000000;
	
}

.h3 {
	font-family: Roboto;`
	background-color: #000000;
	font-color: #ffffff;
}`

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
	
}
